body{ 
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}
.nav-bar{
 background-color: white;

}
.nav-container{
    display: flex;
    justify-content: center;
}
.nav-link{
    margin: 8px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
p{
    font-size: larger;
}
h1{
    text-align: center;
}
.details{
    width: 150px;
    height: 40px;
}
.msg{
    width: 320px;
    height:70px ;
}
.container{
    text-align: center;
}
.foot{
    background-color: blue;
    bottom: 0%;
    position: fixed;
    width: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
.projects{
    text-align: center;
}
